#top {
    position: relative;
    background-color: #808080;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: fixed;
    bottom: 0px;
    color: #FFFFFF;
    background-color: #808080;
    padding: 5px;
    width: 98%;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #D3D3D3;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center-content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left-content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;

}

.right-content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}
